<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>인증 메일 템플릿</title>
</head>
<body>
	<div style="font-family: 'Apple SD Gothic Neo', 'sans-serif' !important; width: 540px; height: 600px; border-top: 4px solid #17B8DC; margin: 100px auto; padding: 30px 0; box-sizing: border-box;">
		<h1 style="margin: 0; padding: 0 5px; font-size: 28px; font-weight: 400;">
			<span style="font-size: 15px; margin: 0 0 10px 3px;"><b>Trip Trip</b></span><br />
			<span style="color: #17B8DC;">임시 비밀번호</span> 안내입니다.
		</h1>
		<p style="font-size: 16px; line-height: 26px; margin-top: 50px; padding: 0 5px;">
			안녕하세요.<br />
			요청하신 <b style="color: #17B8DC;">임시 비밀번호</b>가 생성되었습니다.<br />
			아래 <b style="color: #17B8DC;">임시 비밀번호</b>로 로그인 해주세요.<br />
			감사합니다.
		</p>

		<p style="font-size: 24px; color: #FFF; margin: 40px 5px 20px; line-height: 28px;">
 			<span style="display: inline-block; width: 210px; height: 45px; text-align: center; margin: 30px 5px 40px; background: #17B8DC; line-height: 45px; vertical-align: middle; font-size: 16px;" th:text="${newPassword}"></span>
		</p>

		<div style="border-top: 1px solid #DDD; padding: 5px;">
			<p style="font-size: 13px; line-height: 21px; color: #555;">
				임시 비밀번호로 로그인 후, 반드시 비밀번호를 변경해주세요.<br />
			</p>
		</div>
	</div>
</body>
</html>